body {
    background: url("../imgs/bg.jpg") rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    background-position: center;
    font-family: "poppins", sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 91px) {
    .sidebar {
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}
