body {
    font-family: "poppins", sans-serif;
    background: url("../imgs/m.jpg") rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

